

<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <br>
       <h1>Tu catalogo de pagos</h1>
       <br>          
       <div class= "input-field col s6">
                <input placeholder="Buscar dia" id="filtrarCatalogo" type="text" onKeyUp="getCatalogo(1)">
                <label for="filtrar">Buscar  Nombre...</label> 
               
             
            </div>
            <div class="table-responsive-sm">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Mes de pago</th>
                            <th scope="col">Cantidad</th>
                        <!--  <th scope="col">Apellido_materno</th>-->
                            <th scope="col">Fecha_pagada</th>
                            <th scope="col">Folio</th>
                            <th scope="col">Id_pago</th>
                          
                        </tr>

                    </thead>
                    <tbody  id="resultCatalogo">
                            
                    </tbody>
                </table>      
            </div>
       <div id="pie5" style="
    margin-top: 100px;
">
    </body>
</html>
